ExercisesTest_filtered.xlsx
Firefox.txt
Firefox.txt:Zone.Identifier
inaugural_address_corpus.txt
.ipynb_checkpoints/
__pycache/
deu.txt
deu.txt:Zone.Identifier
amazon_alexa.tsv
amazon_alexa.tsv:Zone.Identifier
Adventures_Holmes.txt
alice.txt
